@charset "UTF-8";
/* Общие стили */
* {
  margin: 0;
  padding: 0; }

html, body, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
  margin: 0;
  padding: 0;
  font-weight: normal; }

body, html {
  background: #ffffff;
  height: 100%;
  color: #000;
  font-size: 12px; }

table {
  border: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
  font-size: 11px; }

td {
  vertical-align: middle;
  padding: 0; }

a img {
  border: 0; }

select, input, textarea {
  font-size: 11px;
  outline: none; }

select option {
  background: #fff;
  color: #555; }

a {
  text-decoration: none; }
  a:hover {
    color: #0080ff;
    text-decoration: underline; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  border: 0;
  outline: none; }

p {
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

.clr {
  clear: both; }

.hide {
  display: none; }

.brr {
  border-radius: 5px; }

.brr30 {
  border-radius: 30px; }

.brr50 {
  border-radius: 50%; }

/* Каркас */
.container {
  max-width: 1180px;
  margin: 0 auto; }

@font-face {
  font-family: "Socialico";
  src: url("../fonts/Socialico.eot?") format("eot"), url("../fonts/Socialico.woff") format("woff"), url("../fonts/Socialico.ttf") format("truetype"), url("../fonts/Socialico.svg#Socialico") format("svg");
  font-weight: normal;
  font-style: normal; }
.header {
  background: #445162;
  width: 100%; }
  .header__title {
    font-family: Arial;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin-top: 50px; }
  .header__list {
    padding: 52px 0; }
    .header__list-item {
      color: #ffffff;
      font-family: Arial;
      font-size: 20px;
      font-weight: 400;
      line-height: 36px;
      padding: 0 0 20px 0;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3); }
      .header__list-item .fa {
        padding-right: 11px; }
  .header__link-logo {
    background: #fff;
    float: right;
    margin-top: 50px;
    display: block;
    width: 469px;
    height: 214px; }
    .header__link-logo .header__logo {
      width: 100%;
      height: 100%; }

.about-product {
  background: #fff;
  padding: 50px 0;
  width: 100%; }
  .about-product__title {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding: 0 0 30px 0; }
  .about-product__paragraph {
    font-family: Arial;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px; }
  .about-product__link-image {
    background: #445161;
    float: right;
    height: 245px;
    width: 430px; }
    .about-product__link-image .image {
      width: 100%;
      height: 100%; }

.dignity {
  background: #f5f5f5;
  width: 100%;
  text-align: center;
  padding: 50px 0; }
  .dignity__title {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding-bottom: 30px; }
  .dignity__details {
    padding-bottom: 35px; }
    .dignity__details .paragraph {
      font-family: Arial;
      color: #333;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      width: 90%;
      float: left;
      text-align: left; }

.screen {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 50px 0; }
  .screen__title {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding-bottom: 35px; }
  .screen__item {
    float: left;
    padding-bottom: 30px;
    width: 50%; }
    .screen__item .screen__link {
      background-color: #445161;
      float: left;
      height: 150px;
      width: 200px; }
      .screen__item .screen__link .screen__img {
        width: 100%;
        height: 100%; }
    .screen__item .caption {
      font-family: Arial;
      color: #445161;
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
      font-size: 24px;
      padding: 0 0 16px 15px;
      float: left; }
    .screen__item .screen__text {
      font-family: Arial;
      color: #333;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      line-height: 20px;
      margin: 28px 9px 0 215px;
      text-align: left; }

.review {
  background: #f5f5f5;
  width: 100%;
  text-align: center;
  padding: 50px 0; }
  .review .review-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .review__title {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding-bottom: 35px; }
  .review__item {
    padding-bottom: 24px;
    width: 50%;
    text-align: left; }
    .review__item .user-logo {
      border-radius: 50%;
      background: #445161;
      background-image: url(../img/user.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 75px;
      float: left;
      width: 75px; }
    .review__item .review__block-text {
      background: #ebebeb;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      float: left;
      font-family: Arial;
      font-size: 14px;
      font-style: italic;
      line-height: 18px;
      text-align: left;
      margin-left: 28px;
      padding: 16px 20px 16px 16px;
      position: relative;
      width: 75%; }
      .review__item .review__block-text:before {
        content: "";
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-right: 13px solid #ebebeb;
        position: absolute;
        top: 28px;
        left: -13px;
        height: 0;
        width: 0; }
      .review__item .review__block-text .review__text {
        color: #333333;
        float: left; }
      .review__item .review__block-text .signa {
        color: #989898;
        padding-top: 15px;
        float: left; }

.buy {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 50px 0; }
  .buy .buy-flex {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .buy__title {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding-bottom: 30px; }
  .buy .buy-item {
    background: #445162;
    border-radius: 10px;
    text-align: center; }
    .buy .buy-item__name {
      font-family: Arial;
      color: #445161;
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
      color: #fff;
      font-size: 24px;
      line-height: 30px;
      padding: 16px 0; }
    .buy .buy-item__price {
      background: #fff;
      border: 2px solid #445162;
      font-family: Arial;
      color: #445161;
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
      font-size: 40px;
      line-height: 30px;
      padding: 18px 0; }
    .buy .buy-item__list {
      font-family: Arial;
      color: #333;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #fff;
      font-size: 14px;
      padding: 18px 20px; }
    .buy .buy-item__button {
      font-family: Arial;
      color: #333;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      background: #fff;
      border-radius: 5px;
      cursor: pointer;
      display: block;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      margin: 21px 20px;
      padding: 14px 0 13px 0;
      text-decoration: none; }
      .buy .buy-item__button:hover {
        background: grey;
        color: #fff; }

.footer {
  background: #445162;
  max-width: 100%;
  text-align: center;
  padding: 50px 0 0 0; }
  .footer__title {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #fff;
    padding-bottom: 31px; }
  .footer__form {
    float: left;
    padding: 0 0 50px 104px;
    width: 54%; }
    .footer__form-input {
      font-family: Arial;
      color: #333;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      border-radius: 5px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: #ffffff;
      color: #445162;
      margin-bottom: 22px;
      padding: 6px 10px;
      width: 100%; }
    .footer__form-button {
      font-family: Arial;
      color: #333;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      border-radius: 5px;
      border: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background: #fff;
      cursor: pointer;
      color: #445162;
      font-weight: 700;
      margin-bottom: 22px;
      padding: 6px 10px;
      width: 140px; }
      .footer__form-button:hover {
        background: #fff; }
  .footer__info {
    float: right;
    padding-right: 104px;
    text-align: left; }
    .footer__info-list {
      padding-bottom: 11px; }
      .footer__info-list-item {
        font-family: Arial;
        color: #333;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #fff;
        line-height: 26px;
        padding: 0 0 21px 31px;
        position: relative; }
        .footer__info-list-item .icon {
          background: url(../img/icon/soc-icon.png);
          background-repeat: no-repeat;
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          height: 26px;
          width: 26px; }
        .footer__info-list-item .skype-ico {
          background-position: 0 0;
          width: 24px; }
        .footer__info-list-item .icq-ico {
          background-position: -24px 0px;
          width: 26px; }
        .footer__info-list-item .email-ico {
          background-position: -50px 0px;
          width: 22px;
          height: 24px; }
        .footer__info-list-item .phone-ico {
          background-position: -72px 0px;
          width: 23px;
          height: 24px; }
    .footer__info-social .social-link {
      font-family: Socialico;
      color: #ffffff;
      font-size: 60px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      text-decoration: none; }
  .footer__copyright {
    background: #f5f5f5;
    font-family: Arial;
    color: #445162;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center; }

summary {
  outline: 0; }

summary::-webkit-details-marker {
  display: none; }

summary:before {
  background: #445161;
  content: "+";
  color: #fff;
  float: left;
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin-right: 9px;
  text-align: center;
  width: 32px; }

details[open] summary:before {
  content: "-"; }

.left-block {
  float: left;
  width: 50%; }

.right-block {
  float: right;
  width: 50%; }

/*# sourceMappingURL=style.css.map */